<div class="card">
  <div class="card-header">Add New Product</div>
 
  <form novalidate (ngSubmit)="saveProduct()" [formGroup]="productForm">
      <div class="card-body">
          <fieldset>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="productNameId">Product Name</label>
          
                <div class="col-md-9">
                  <input [ngClass]="{'is-invalid': displayMessage.productName }" 
                         class="form-control" 
                         id="productNameId" 
                         type="text" 
                         placeholder="Name (required)" 
                         formControlName="productName" 
                         (blur)="blur()" />
                  <span class="invalid-feedback" *ngIf="displayMessage.productName">
                    {{displayMessage.productName}}
                  </span>
                </div>
              </div>
          
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="productCodeId">Product Code</label>
          
                <div class="col-md-9">
                  <input [ngClass]="{'is-invalid': displayMessage.productCode}" 
                         class="form-control"
                         id="productCodeId"
                         type="text"
                         placeholder="Code (required)"
                         formControlName="productCode"
                         (blur)="blur()" />
                  <span class="invalid-feedback" *ngIf="displayMessage.productCode">
                    {{displayMessage.productCode}}
                  </span>
                </div>
              </div>
          
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="starRatingId">Star Rating (1-5)</label>
          
                <div class="col-md-9">
                  <input [ngClass]="{'is-invalid': displayMessage.starRating}"
                         class="form-control" 
                         id="starRatingId" 
                         type="text" 
                         placeholder="Rating" 
                         formControlName="starRating" />
                  <span class="invalid-feedback" *ngIf="displayMessage.starRating">
                    {{displayMessage.starRating}}
                  </span>
                </div>
              </div>
          
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="descriptionId">Description</label>
          
                <div class="col-md-9">
                  <textarea [ngClass]="{'is-invalid': displayMessage.description}"
                            class="form-control" 
                            id="descriptionId" 
                            placeholder="Description" 
                            rows=3 
                            formControlName="description">
                  </textarea>
                  <span class="invalid-feedback" *ngIf="displayMessage.description">
                    {{ displayMessage.description}}
                  </span>
                </div>
              </div>
            </fieldset>
      </div>
  
  
  <div class="card-footer d-flex flex-row-reverse">
    <button class="btn btn-primary p-2" [disabled]="!productForm.valid || !productForm.dirty">
      <i class="fa fa-save"></i>
      Save
    </button>
    &nbsp;
    <button class="btn btn-danger p-2" (click)="deleteProduct()">
      <i class="fa fa-trash"></i>
      Delete
    </button>
  </div>
</form> 
</div>
